<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style -->
		<link href="public/style/game.css" rel="stylesheet" />

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

		<title>Pok'help</title>
	</head>
	<body>
		<button onclick="button_start()">Start</button>

		<div id="your_card">
		</div>
		
		<div id="liste_players">
			<% for (var i = 0; i < PLAYERS.length; i++) { %>
			<div id="player-<%= PLAYERS[i].username %>" class="player_block">
				<h2 style="margin: 0">Joueur :</h2>
				<p id="player-username-<%= PLAYERS[i].username %>"><%= PLAYERS[i].username %></p>
				<p id="player-argent_en_jeu-<%= PLAYERS[i].username %>"><%= PLAYERS[i].argent_en_jeu %></p>
			</div>
			<% } %>
		</div>
		<h1>Fin des joueurs</h1>
		<a href="connexion"> <button>connexion</button> </a><br />
		<a href="inscription"> <button>inscription</button> </a><br />
		<a href="deconnexion"> <button>deconnexion</button> </a><br />
		<a href="">
			<button>Accueil</button>
		</a>

		<!-- ALERT BLOCK -->
		<% if (alert) { %>
		<p class="alert"><%= alert.message %></p>
		<% } else { %>
		<p>pas d'alert en cour !</p>
		<% } %>

		<!-- Javascript -->
		<script src="public/javascript/javascript.js"></script>
	</body>
</html>
